* {
	margin: 0 auto;
	padding: 0;
	font-family: 'montserrat', arial;
	font-size: 20px;
	font-weight: 400;
}
body {
	background-color: #F4F2F4;
	background-image: url('images/13.jpg');
	background-repeat: repeat;
	background-size: 60%;
	z-index: 0;
}

form {
	max-width: 45%;
}

#tile {
	float: right;
	width: 90%;
	margin-bottom: -20%;
	margin-top: 25%;
	margin-right: 3%;
}
h1 {
	text-align: center;
	color: #FA3253;
	font-size: 2.2em;
	margin-bottom: 1em;
	margin-left: 1.6%;
}

h3 {
	margin-top: -25%;
	text-align: center;
	color: #FA3253;
	font-size: 1.2em;
	margin-left: 1.6%;
}

form {
	z-index: 5;
	
}
#label {
	color: #757375;
	font-size: .8em;
	text-align: left;
}

#input_space {
	font-size: 1.2em;
	width: 100%;
	border: 1px #E0DFE0 solid;
	padding: .5em;
	margin-bottom: 1.5em;
}
.btn {
	color: #fff;
	background-color: #FA3253;
	z-index: 5;
	border:none;
	width: 105.7%;
	padding: 1em;
	font-size: 1em;
}

#tiles {
	width: 50%;
	z-index: 2;
	float: left;
	margin-top: -10%;
	margin-left: 3%;
}

.error {
	padding: .5em;
}

.wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

.image {
	margin: 1% 3%;
	position: absolute;
	width: 90%;
}

img {
	width: 100%;
}

.text {
	z-index: 100;
	position: absolute;
	padding-top: 12%;
	margin-left: 27%;
}

p {
	color: #FA3253;
	text-align: center;
	font-size: 1.5em;
}

span {
	font-size: 2.5em;
	text-decoration: underline;
}

ul {
	text-align: center;
}

li {
	list-style: none;
}
.anagrams {
	margin-top: 1%;
	color: #FA3253;
}

.navlabel {
	color: #757375;
	font-size: .85em;
	margin: 15% 0 5% 0;
}

#words {
	margin-left: 8.5%;
}

.nav {
	color: #FA3253;
	margin-left: 10%;
}
.navs {
	color: #FA3253;
	float: right;
	font-size: .85em;
	margin-right: 15%;
	margin-top: 1.7%;
}
.header {
	clear: both;
	margin-top: 2%;
	font-size: 2.5em;
}
.table {
	text-align: center;	
}


th {
	color: #FA3253;
	text-align: center;
	border-bottom: 1px solid #FA3253;
	padding: 2% 10% 2% 5%;
	font-size: 1.5em;
}

td {
	color: #757375;
	padding: 2%;
}

td a {
	color: #757375;
	text-decoration: none;
}

td a:hover {
	color: #FA3253;
}

.button {
	background-color: #FA3253;
	border: none;
	padding: .3em;
	border-radius: 5px;
	color: #f8fff6;
	font-size: .90em;
}
.button:hover {
	background-color: #D62B47;
	cursor: pointer;
}