* {
	margin: 0 auto;
	padding: 0;
	vertical-align: center;
	font-family: 'montserrat', arial;
	font-size: 20px;
	font-weight: 400;
}
body {
	background-color: #F4F2F4;
	background-image: url('images/13.jpg');
	background-repeat: repeat;
	background-size: 60%;
	z-index: 3;
}

form {
	max-width: 45%;
}

#tile {
	float: right;
	width: 90%;
	margin-bottom: -20%;
	margin-top: 25%;
	margin-right: 3%;
}
h1 {
	text-align: center;
	color: #FA3253;
	font-size: 2.2em;
	margin-bottom: 1em;
	margin-left: 1.6%;
}

h3 {
	margin-top: -25%;
	text-align: center;
	color: #FA3253;
	font-size: 1.2em;
	margin-left: 1.6%;
}

form {
	z-index: 5;
	
}
#label {
	color: #757375;
	font-size: .8em;
	text-align: left;
}

#input_space {
	font-size: 1.2em;
	width: 100%;
	border: 1px #E0DFE0 solid;
	padding: .5em;
	margin-bottom: 1.5em;
}
.btn {
	color: #fff;
	background-color: #FA3253;
	z-index: 5;
	border:none;
	width: 105.7%;
	padding: 1em;
	font-size: 1em;
}

#tiles {
	width: 50%;
	z-index: 2;
	float: left;
	margin-top: -10%;
	margin-left: 3%;
}

p {
	color: #FA3253;
	text-align: center;
	font-size: 1.2em;
}
span {
	font-size: 2.2em;
	text-decoration: underline;
}
ul {
	text-align: center;
}