 <img id="tile" src="images/tiles-04.png" alt="scrabble tiles" />

<h3>Welcome To Our</h3>
<h1>Anagram Generator!</h1>
<form action="/" method="post" class="form">
  <label id="label" for="word">Enter Your 3-Letter Word Here:</label>
  <input id="input_space" type="text" name="word">
  <input type="submit" class="btn" value="Show Me The Anagrams">
</form>
<% if @error.present? %>
  <p class='error'><%= "#{@error}" %></p>
<% end %>
 <img id="tiles" src="images/tiles-01.png" alt="scrabble tiles" />