<p>Anagrams For The Word... <br /><span> <%= "#{@word.upcase}" %></span></p>
<ul class="anagrams">
    <% if !@anagrams.nil? %>
      <% @anagrams.each do |word| %>
        <li><%= word.text.upcase %></li>
      <% end %>
    <% end %>
</ul>
